<div class="main">
    <div class="row">
        <div class="column name-column-a">
            <div>
                <ul>
                    <li><a class="link selected" href="">Home</a></li>
                    <li><a class="link" [routerLink]="['/slides']">Slides</a></li>
                    <li><a class="link" href="https://www.linkedin.com/in/daniel-nzioka-421b22163/">LinkedIn</a></li>
                    <li><a class="link" href="https://github.com/danielkioko">Github</a></li>
                </ul>
            </div>
            <div class="year-box">
                <p style="font-family: 'Major Mono Display', monospace;">KIOKO.IO · 2021</p>
            </div>
        </div>
        <div class="column name-column-b container">
            <div class="photo-box">
                <img class="img-responsive" src="assets/animoji.png">
            </div>
            <div style="padding: 25px;">
                <h2 style="font-size: 6vmin; font-family: 'Major Mono Display', monospace;">Daniel Kioko</h2>
                <p style="font-size: 20px; color: #F2B138; padding-left: 7px; font-family: 'Poppins', sans-serif; font-weight: bold;">Fullstack Software Engineer</p>
            </div>
            <div class="blob">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#F2B138" d="M47.4,-48C54.7,-40.2,49.1,-20.1,43.9,-5.3C38.6,9.5,33.6,19,26.3,35.1C19,51.2,9.5,73.8,0.5,73.3C-8.5,72.8,-16.9,49.1,-30.4,33C-43.9,16.9,-62.4,8.5,-67.6,-5.2C-72.7,-18.8,-64.6,-37.6,-51.1,-45.4C-37.6,-53.2,-18.8,-50.1,0.6,-50.8C20.1,-51.4,40.2,-55.8,47.4,-48Z" transform="translate(100 100)" />
                </svg>
            </div>
        </div>
    </div>
</div>